<div
  class="sidebarright"
  style="width: 280px;padding: 4px;margin-top: 20px;height: 150px;"
>
  <hr style="top: -25px;" />
  <div class="foot">
    <ul>
      <li>
        <a href="">
          About
        </a>
      </li>
      <li>
        <a href="">
          Contact
        </a>
      </li>
      <li>
        <a href="">
          Privacy and Policy
        </a>
      </li>
      <li>
        <a href="">
          Help
        </a>
      </li>
    </ul>
    <img src="../images/chelsea_logo.png" />
    <p>
      Copyright © Kashirskiy Alexei gr.851005, 2021 All Rights Reserved.
    </p>
  </div>
</div>