<div class="footer">
		<div class="wrapper">
			<div class="foot">

				<ul>
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Privacy and Policy</a></li>
					<li><a href="">Help</a></li>
				</ul>

				<p>Copyright © Alexei Kashirskiy 2021 All Rights Reserved.</p>
			</div>
		</div>
	</div>