<div class="leftfixed">
  <div class="sidebarleft">
    <img src="{{account.profile_photo_path}}" />
    <p id="sidename">
      {{account.first_name}}
      {{account.second_name}}
    </p>
    <p id="ssn">
      Jorhat Institute of Science and Techonology
    </p>
    <p id="country">
      India
    </p>
    <a href="profile" id="viewall">
      View All
    </a>
    <hr />
    <p id="nosociety">
      31
    </p>
    <p id="societyname">
      <a href="society">
        Society
      </a>
    </p>
    <p id="logout">
      <a href="sign">
        Log Out
      </a>
    </p>
  </div>
</div>