<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Social Network</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header}}
    {{> menu}}
    {{> ads}}
    <div id="main">
        {{#each accounts}}
            <li>
                <img src="../uploads/{{this.profile_photo_path}}" width="50" height="50"><br>
                {{this.first_name}} {{this.second_name}}
            </li>
        {{/each}}
    </div>
    {{> footer}}
</body>

</html>